.hover-uploader{
  border-color: #1d9ff6 !important;
}

img#preview{
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

input[type="file"]{
  display: none;
}

.drag-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 2px dashed #343a40;
  padding: 10%;
  cursor: pointer;
  p{
    text-align: center;
  }
  button{
    width: 30%;
    align-self: center;
    cursor: pointer;
  }
}
